.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 50px 40px 50px;
    background-color: rgb(80, 46, 46);
}

.header-left {
  width: 200px;
}

.style-link-header {
    padding-right: 25px;
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size:20px
}

.style-link-header:hover {
    text-decoration: underline;
}

@media screen and (min-width: 650px) and (max-width: 960px) {
    .header {
        display: block;
        text-align: center;
    }

    .header-left {
        padding-bottom: 20px;
    }

    .style-link-header {
        font-size: 17px;
    }
}
  